body {
    background-image: url(background.jpg);
    background-size: cover;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    text-align: center;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    margin: 40px 0px 20px 0px;
    font-size: 50px;
}

p {
    font-size: 25px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 15px;
    background: white;
    opacity: 0.6;
    color: #007999;
    border: solid 1px white;
    font-size: 20px;
    width: 130px;
    height: 35px;
    margin: 0 10px 35px 0;
}

button:hover {
    background: #007999;
    border: solid 1px white;
    color: white;
}

#newPlayer {
    font-size: 15px;
}

#instruction {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 1em;
}

#alphabet {
    margin: 20px auto;
    /*padding: 0;*/
    max-width: 680px;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
}

#alphabet li {
    display: inline-block;
    margin: 0 10px 10px 0;
    width: 40px;
    height: 40px;
    background: white;
    color: #007999;
    font-size: 18px;
    border-radius: 50px;
}

#alphabet li:hover {
    background: #FFB0B3;
    border: solid 3px white;
    color: black;
    font-size: 20px;
}

#selectedletter {
    font-size: 50px;
    color: white;
    display: inline-block;
    padding: 5px;
    margin: 0;
}

#click {
    opacity: 0.5;
}

#lives {
    font-size: 30px;
    font-style: italic;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    text-align: center;
    display: block;
    margin: 0 0 2em 0;
}

#score {
    font-size: 30px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
}

#image {
    width: 430px;
    height: 400px;
    margin-bottom: 5em;
}
